process {
    withLabel: "busco" {
        container = "quay.io/biocontainers/busco:5.8.2--pyhdfd78af_0"
    }

    withLabel: "compleasm" {
        container = "quay.io/biocontainers/compleasm:0.2.6--pyh7cba7a3_0"
    }

    withLabel: "diamond" {
        container = "quay.io/biocontainers/diamond:2.1.11--h5ca1c30_1"
    }

    withLabel: "edta" {
        container = "quay.io/biocontainers/edta:2.2.2--hdfd78af_1"
    }

    withLabel: "fastp" {
        container = "quay.io/biocontainers/fastp:0.23.4--h125f33a_5"
    }

    withLabel: "fastqc" {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel: "findplantnlrs" {
        // container = "docker://yanolo/findplantnlrs:latest"
        container = "docker://ryandk/findplantnlrs:latest"
    }

    withLabel: "gffread" {
        container = "quay.io/biocontainers/gffread:0.12.7--h077b44d_6"
    }

    withLabel: "helixer" {
        container = "docker://gglyptodon/helixer-docker:helixer_v0.3.4_cuda_12.2.2-cudnn8"
    }

    withLabel: "mikado2" {
        container = "docker://gemygk/mikado:v2.3.5rc2"
    }

    withLabel: "minimap2" {
        container = "quay.io/biocontainers/minimap2:2.28--h577a1d6_4"
    }

    withLabel: "miniprot" {
        container = "quay.io/biocontainers/miniprot:0.13--h577a1d6_2"
    }

    withLabel: "multiqc" {
        container = "quay.io/biocontainers/multiqc:1.24.1--pyhdfd78af_0"
    }

    withLabel: "pandas" {
        container = "quay.io/biocontainers/pandas:1.5.2"
    }

    withLabel: "samtools" {
        container = "quay.io/biocontainers/samtools:1.20--h50ea8bc_1"
    }

    withLabel: "star" {
        container = "quay.io/biocontainers/star:2.7.11a--h0033a41_0"
    }

    withLabel: "stringtie" {
        container = "quay.io/biocontainers/stringtie:3.0.0--h29c0135_0"
    }

    withLabel: "transdecoder" {
        container = "quay.io/biocontainers/transdecoder:5.7.1--pl5321hdfd78af_0"
    }
}
