process {
    withLabel: "fastp" {
        container = "quay.io/biocontainers/fastp:0.23.4--h125f33a_5"
    }

    withLabel: "fastqc" {
        container = "quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0"
    }

    withLabel: "multiqc" {
        container = "quay.io/biocontainers/multiqc:1.24.1--pyhdfd78af_0"
    }

    withLabel: "samtools" {
        container = "quay.io/biocontainers/samtools:1.20--h50ea8bc_1"
    }

    withLabel: "bedtools" {
        container = "quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_2"
    }

    withLabel: "picard" {
        container = "docker://broadinstitute/picard:latest"
    }

    withLabel: "bcftools" {
        container = "quay.io/biocontainers/bcftools:1.21--h3a4d415_1"
    }

    withLabel: "star" {
        container = "quay.io/biocontainers/star:2.7.11a--h0033a41_0"
    }

    withLabel: "stringtie" {
        container = "quay.io/biocontainers/stringtie:3.0.0--h29c0135_0"
    }

    withLabel: "gffread" {
        container = "quay.io/biocontainers/gffread:0.12.7--h077b44d_6"
    }

    withLabel: "transdecoder" {
        container = "quay.io/biocontainers/transdecoder:5.7.1--pl5321hdfd78af_0"
    }

    withLabel: "miniprot" {
        container = "quay.io/biocontainers/miniprot:0.13--h577a1d6_2"
    }

    withLabel: "mikado2" {
        container = "quay.io/biocontainers/mikado:2.3.4--py310ha14a713_0"
    }

    withLabel: "edta" {
        container = "quay.io/biocontainers/edta:2.2.2--hdfd78af_1"
    }

    withLabel: "helixer" {
        container = "docker://gglyptodon/helixer-docker:helixer_v0.3.4_cuda_12.2.2-cudnn8"
    }
}
