profiles {

    four {

        executor {
            queueSize = 4
        }

        process {
            withLabel: short {
                maxForks = 4
            }
            withLabel: campus {
                maxForks = 4
            }
            withLabel: long {
                maxForks = 2
            }
            withLabel: memory {
                maxForks = 2
            }
        }
    }

    eight {

        executor {
            queueSize = 8
        }

        process {
            withLabel: short {
                maxForks = 8
            }
            withLabel: campus {
                maxForks = 8
            }
            withLabel: long {
                maxForks = 4
            }
            withLabel: memory {
                maxForks = 4
            }
        }

    }

}

