timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

dag {
    enabled = true
    file    = "${params.publish_dir}/publish/summary/${timestamp}_dag.html"
    overwrite = true
}

report {
    enabled = true
    file    = "${params.publish_dir}/publish/summary/${timestamp}_report.html"
    overwrite = true
}

timeline{
    enabled = true
    file    = "${params.publish_dir}/publish/summary/${timestamp}_timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file    = "${params.publish_dir}/publish/summary/${timestamp}_trace.html"
    overwrite = true
}
