params.sc_short  = '--account=ACF-UTK0032 \
                    --partition=short \
                    --qos=short'
                 
params.sc_campus = '--account=ACF-UTK0032 \
                    --partition=campus \
                    --qos=campus'

params.sc_long   = '--account=ACF-UTK0032 \
                    --partition=long \
                    --qos=long'

params.sc_memory  = '--account=ACF-UTK0032 \
                    --partition=campus-bigmem \
                    --qos=campus-bigmem'

params.sc_gpu     = '--account=ACF-UTK0032 \
                    --partition=campus-gpu \
                    --qos=campus-gpu \
                    --gres=gpu:v100s:1'
