profiles {
    custom {
        includeConfig "slurm_custom.config"

        process {
            withLabel: short {
                clusterOptions = params.sc_short
                maxForks = 12
            }
            withLabel: campus {
                clusterOptions = params.sc_campus
                maxForks = 48
            }
            withLabel: long {
                clusterOptions = params.sc_long
                maxForks = 12
            }
            withLabel: memory {
                clusterOptions = params.sc_memory
                maxForks = 4
            }
            withLabel: gpu {
                clusterOptions = params.sc_gpu
                containerOptions = '--nv'
                maxForks = 1
            }
        }
    }
}
